# Postgres + PostGIS (app + MLflow backend + vector)
POSTGRES_USER=geosave
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
POSTGRES_APP_DB=geosave_app
POSTGRES_MFLOW_DB=mlflow

# Domain
DOMAIN=localhost

# RustFS / S3
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
S3_ENDPOINT_URL=http://storage:9000
RUSTFS_CONSOLE_ENABLE=true

# S3 Buckets
S3_BUCKET_MLFLOW=mlflow-artifacts
S3_BUCKET_PREDICTIONS=predictions

# MLflow
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_MFLOW_DB}
MLFLOW_ARTIFACTS_DESTINATION=s3://${S3_BUCKET_MLFLOW}
